.contact{}
.contact .container{
display: flex;

  flex-direction: column;
  gap: 2em;
  overflow: hidden;
}

.contact-header h2 {

color: var(--primary-color);
}
.contact-header h2 span {
    font-weight: 900;
    font-size: 2em;
}
.contact-header h2 span:nth-of-type(2){
    color: var(--orange-color);
}
.contact-info{
    width: 100%;
    display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
 
 
}
.contact-form{
    width: 55%;
   display: flex;
    flex-direction: column;
    gap:2em ;
}
.contact-form input ,textarea{
 padding:.4em 1em;
 border-radius:.4em;
 -webkit-border-radius:.4em;
 -moz-border-radius:.4em;
 -ms-border-radius:.4em;
 -o-border-radius:.4em;
 border: 1px solid #8A8A8A;

 
}
.contact-form input:focus , .contact-form textarea:focus{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    outline:2px solid #8A8A8A;
}
.contact-form input::placeholder , .contact-form textarea::placeholder{
    font-weight: 700;
    color: #BFBFBF;
}
.contact-form .username{
    display: flex;
    gap: 1em;
    width: 100%;
}
.contact-form .username input{
width: 50%;
}
.contact-form button{
    font-weight: 700;
    font-size: 1.4em;
    padding:.4em 1em;
    border: none;
    background-color: var(--orange-color);
    color: white;
    border-radius:.4em;
    -webkit-border-radius:.4em;
    -moz-border-radius:.4em;
    -ms-border-radius:.4em;
    -o-border-radius:.4em;
    cursor: pointer;
    transition: background-color .3s ease;
}
.contact-form button:hover{
    background-color: #ff9a00;
}
.contact-sidebar{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
}

.sidebar-address h3{
    font-weight: 700;
    font-size: 1.5em;
    color: #818181;


}
.contact-inf{
width: 100%;
    display: flex;
    gap: 1em;
    flex-direction: column;
    color: #818181;
    
}
.contact-inf p i {
    padding-left: .7em;
}
.contact-social ul{
    display: flex;
    gap: .1.2em;
    justify-content: space-between;
    width: 50%;
    color: #818181;
}
.contact-social ul  a{
   
    color: #818181;
    cursor: pointer;
    transition: color .3s ease;
    font-size: 1.2em;
}
.contact-social ul  a:hover{
    color: #959595;
}

.map iframe{
    width: 100%;
    border-radius: .6em;
  
    -webkit-border-radius: .6em;
    -moz-border-radius: .6em;
    -ms-border-radius: .6em;
    -o-border-radius: .6em;
  
}
/* MEDIA QUERIES */




@media screen and (max-width: 768px) {
  
  
  
    .contact-sidebar{
        margin-block: 2em;
        width: 100%;
    }
    .contact-form{
       
        width: 100%;
    }
    
    .contact-info{
        flex-direction: column;
        gap: 1;
    }
}







