
.teacher-banner  {
    
   
   
   
 }
 .teacher-banner-header {
   
/* background-color: brown; */
position: relative;
display: flex;
justify-content: space-between;

align-items: flex-end;
padding-block:4em ;
overflow: hidden;
border-top-left-radius: 1em;
border-bottom-left-radius: 1em;

 }
.teacher-banner-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
width:calc(50% - 1em) ;

}
.teacher-banner-content p {
    color: var(--gray-color);
    font-size: 1.125em;
}
.teacher-banner-content h2 span{
    font-size: 2em;
    font-weight: 700;
}
.teacher-banner-content h2 span:nth-of-type(1){
    color: var(--primary-color);
}
.teacher-banner-content h2 span:nth-of-type(2){
    color: var(--yellow-color);
}
.instructor-banner{
  width:50%;
 display: flex;
 gap: 1em;
  position: relative;
  height:16em ;
  
  


  
}

.instructor-banner .card{
  
    width: 37%;
    height:100%;

    border-radius: .8em;
    -webkit-border-radius: .8em;
    -moz-border-radius: .8em;
    -ms-border-radius: .8em;
    -o-border-radius: .8em;

}
.instructor-banner .card:nth-last-child(1){
    position: absolute;
    left:-15% ;
}

.instructor-banner::after{
      content: "";
      position: absolute;
      left: -1em;
      top: -1em;
      z-index: 100;
      height:110%;
      width: 3em;
      background-color: rgba(255, 255, 255,.8);
      box-shadow:10px 0px 10px rgba(255, 255, 255, .7);
      backdrop-filter: blur(1px);
      -webkit-filter: blur(1px);
}
    
.instructor-banner .card:nth-of-type(1){

    background-color: #12376B40;
}
.instructor-banner .card:nth-of-type(2){

    background-color: #F04B2540;
}
.instructor-banner .card:nth-of-type(3){
    background-color:#286CD540;
}
.instructor-banner .card .image{
    width:100% ;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    
 
}
.instructor-banner .card .image img{
    position: absolute;
    bottom: 0;
    height: 110%;
    width: 90%;
}

/* start teacher card */
.teachers-card{
 
}
.teachers-card-header{
   width: 100%;
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
   align-items: flex-end;
}
.teachers-card-header h3 {
    color: var(--primary-color);
    position: relative;
    padding-inline-start: 4.5em;
    margin-bottom: 1em;
    font-size: 1,125em;
    /* background: red; */
}
.teachers-card-header h3::after{
    content: "";
    width: 4em;
    height: 1px;
    background: var(--primary-color);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.teachers-card-header-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.teachers-card-header-content h4 span{
    Font-size: 2.5em;
    font-weight:900;
    line-height: 1.5em;
}
.teachers-card-header-content h4{
    color: var(--primary-color);
}


.teachers-card-header-content h4 span:nth-of-type(3){
    color: var(--yellow-color);
}
.teacher-cards-contianer{
    margin-top: 3em;
    display: flex;
    flex-direction: row-reverse;
    gap: 5em;
   
   
    height: 55vh;
}

.teacher-details-card{
    width:80%;
    display: flex;
    gap: .6em;
    height: fit-content;
    border-radius: .8em;

    background-color:  #fcfcfc;
    height: 100%;
  
}
.details-card-teacher-image{
width: 30%;
    height: 100%;
  
 
 
}
.details-card-teacher-image img{
    width: 100%;
    height: 100%;
 

 
}
.teacher-details-card-info{
    width: 70%;
    background-color: #F5F5F5;
    padding-inline: 1em;
    padding-block:1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    
}

.teacher-details-card-info h3{
    
   color: var(--primary-color);
    font-weight: 700;
    font-size: 4em;
}
.teacher-details-card-info h4{
   color: #686868;
    font-size: 1.25em;
}
.teacher-details-card-info p{
    line-height: 1.8em;
    color: #686868;
}

.side-card-contianer{
 position: relative;
  
width: 25%;
height: 100%;


}
.overflow{
   padding-top: 1em;
    display: flex;
    flex-direction: column;
   
    gap: 2em;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.overflow::-webkit-scrollbar{
    width: 0px;
}
.side-card-contianer::after{
    content: "";
    position: absolute;
    bottom: 0;
    z-index: 2222;
    height:2.5em;
    width: 100%;
   
    background-color:  rgba(255, 255, 255, 0.7);
    box-shadow:0px -10px 10px rgba(255, 255, 255, .6);
  backdrop-filter:blur(4px);
    
  
}

.teacher-side-card{
    display: flex;
    flex-direction:column ;
    border-radius: .8em;
    width: 100%;
    height: fit-content;
   
}
.side-card-teacher-image{
    background-color: #12376B40;
   
    height: 10em;
    position: relative;
border-top-left-radius: .8em;
    border-top-right-radius: .8em;
    display: flex;
    justify-content: center;
 
  
}
.side-card-teacher-image:nth-of-type(2){
background-color: var(--orange-color);
}

.side-card-teacher-image img{
    width: 90%;
    height: 110%;
  position: absolute;
  bottom: 0;
}
.teacher-side-card-info{
    display: flex;
   flex-direction: column;
   justify-content: center;
  
    height: 8em;
    background-color:#F5F5F5 ;
    padding-inline: .8em;
   
    padding-block: .5em;
   border-bottom-right-radius: .8em;
    border-bottom-left-radius: .8em;
}
.teacher-side-card-info h3{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.3em;
}

.teacher-side-card-info h4{
    color: #686868;
    font-size: 1em;
}
/* MEDIA QUERIES */
@media (min-width: 1920px) {
    
    .instructor-banner{
        
        height: 28em;
    }
  
     .teacher-banner-header{
        
         width: 100%;
       
     }
     .teacher-cards-contianer{
        height:25vh ;  
          }

          .teacher-details-card{
            height: 100%;
          }
}
@media (min-width: 1650px) {
    .side-card-contianer{
width:20% ;
    }
    .instructor-banner{
        height: 24em;
    }
   
     .teacher-banner-header{
        
         width: 100%;
       
     }
     .teacher-cards-contianer{
        height:35vh ;  
          }

          .teacher-details-card{
            height: 100%;
          }
          
}
@media (min-width: 1440px){
  
}
@media (max-width:1024px){

    .techer-banner-header{
        flex-direction: column;
        gap: 2em;
        align-items: center;
        
        height:auto;
        
    }
    .teacher-banner-content{
        width:100% ;

    }
    .instructor-banner{
        margin-top: 2em;
        width: 100%;
        position: static;
        left: 0;
    }
    .instructor-banner::after{
        width: 0px;
    }
    .instructor-banner .card{
        width:calc(100% / 3 - 1em);
    }
    .instructor-banner .card:nth-last-child(1){
        position: static;
    }
    .teachers-card-header{
        width: 100%;
     
    }
    .teacher-details-card{
        width: 100%;
    }
     .teacher-cards-contianer{
       
        flex-direction: column-reverse;
        height: auto;
        gap: 0;
     }
     .side-card-contianer{
       
        display: none;
        
      
     }
     
     
   
     .teacher-banner-header{
        flex-direction: column;
        gap: 2em;
        align-items: center;
        
        height:auto;
    }
    .teacher-banner-content{
        width:100% ;
    }
    .instructor-banner{
      
        width: 100%;
        position: static;
    

    }

}
@media (max-width: 768px){
  
    .instructor-banner {
        height: fit-content;
    }
    .teacher-cards-contianer{ 

        flex-direction: column;
    }
       
       
    .teacher-details-card{
        flex-direction: column;
    }
    .teacher-details-card-info{
        width: 100%;
        
    }
   .teachers-card{
        overflow-x: hidden;
    }
    .details-card-teacher-image{
        width: 100%;
    }
    .instructor-banner{
        flex-wrap: wrap;
        gap: 3em;
    }
    .instructor-banner .card{
        width:190%;
        margin:auto;
        height: 20em;
    }
  
  
     
     .teacher-side-card{
        width:100%;
        height: fit-content;
        
     }
}