
.teacher-banner {
     /* background-color: brown; */
    min-height: 60vh;
   
  overflow: hidden;
   
 }
 .teacher-banner .container:nth-of-type(1) {
    min-height:50VH;
/* background-color: brown; */
position: relative;
display: flex;
justify-content: space-between;

align-items: flex-end;
padding-block:4em ;

 }
.teacher-banner-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .8em;
width:40% ;

}
.teacher-banner-content p {
    color: var(--gray-color);
    font-size: 1.125em;
}
.teacher-banner-content h2{
    font-size: 4em;
    font-weight: 700;
}
.teacher-banner-content h2 span:nth-of-type(1){
    color: var(--primary-color);
}
.teacher-banner-content h2 span:nth-of-type(2){
    color: var(--yellow-color);
}
.instructor-banner{
    width:60%;
    display: flex;
    gap: 2em;
    height:16em ;
   position: absolute;
   left: -8em;
}

    
.instructor-banner .card{
    width:40%;
    height:100%;
    position: relative;
    border-radius: .8em;
    -webkit-border-radius: .8em;
    -moz-border-radius: .8em;
    -ms-border-radius: .8em;
    -o-border-radius: .8em;
}
.instructor-banner .card:nth-of-type(1){

    background-color: #12376B40;
}
.instructor-banner .card:nth-of-type(2){

    background-color: #F04B2540;
}
.instructor-banner .card:nth-of-type(3){
    background-color:#286CD540;
}
.instructor-banner .card img{
    width:100% ;
    height: 110%;
    position: absolute;
    bottom: 0;
 
}

/* start teacher card */
.teachers-card{
 
}
.teachers-card-header{
   width: 100%;
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
   align-items: flex-end;
}
.teachers-card-header h3 {
    color: var(--primary-color);
    position: relative;
    padding-inline-start: 4.5em;
    margin-bottom: 1em;
    font-size: 1,125em;
    /* background: red; */
}
.teachers-card-header h3::after{
    content: "";
    width: 4em;
    height: 1px;
    background: var(--primary-color);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.teachers-card-header-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.teachers-card-header-content h4{
    Font-size: 4em;
    font-weight: 700;
    line-height: 1.5em;
}
.teachers-card-header-content h4{
    color: var(--primary-color);
}


.teachers-card-header-content h4 span:nth-of-type(3){
    color: var(--yellow-color);
}
.teacher-cards-contianer{
    margin-top: 3em;
    display: flex;
    flex-direction: row-reverse;
    gap: 5em;
    overflow-y: hidden;
   
    height: 65vh;
}

.teacher-details-card{
    width:80%;
    display: flex;
    gap: .6em;
    height: fit-content;
    border-radius: .8em;

    background-color:  #fcfcfc;
  
}
.details-card-teacher-image{
width: 30%;
    height: 100%;
  
 
 
}
.details-card-teacher-image img{
    width: 100%;
    height: 100%;
 

 
}
.teacher-details-card-info{
    width: 70%;
    background-color: #F5F5F5;
    padding-inline: 1em;
    padding-block:1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    
}

.teacher-details-card-info h3{
    
   color: var(--primary-color);
    font-weight: 700;
    font-size: 4em;
}
.teacher-details-card-info h4{
   color: #686868;
    font-size: 1.25em;
}
.teacher-details-card-info p{
    line-height: 1.8em;
    color: #686868;
}

.side-card-contianer{
 position: relative;
  
width: 20%;

}
.side-card-contianer::after{
    content: "";
    position: absolute;
    bottom: -1em;
    z-index: 2222;
    height:2em;
    width: 100%;
    background-color: rgba(255, 255, 255, .8);
    box-shadow:10px 0px 10px rgba(255, 255, 255, .6);
  
}

.teacher-side-card{
    margin-bottom: 1em;
    display: flex;
    flex-direction:column ;
    border-radius: .8em;
    width: 100%;
    height: fit-content;
    -webkit-border-radius: .8em;
    -moz-border-radius: .8em;
    -ms-border-radius: .8em;
    -o-border-radius: .8em;
}
.side-card-teacher-image{
    background-color: #12376B40;
   
    height: 10em;
    position: relative;
border-top-left-radius: .8em;
    border-top-right-radius: .8em;
 
  
}
.side-card-teacher-image img{
    width: 100%;
    height: 100%;
  position: absolute;
  bottom: 0;
}
.teacher-side-card-info{
    display: flex;
   flex-direction: column;
   justify-content: center;
  
    height: 40%;
    background-color:#F5F5F5 ;
    padding-inline: .8em;
    padding-inline: 1.2em;
    padding-block: .8em;
   border-bottom-right-radius: .8em;
    border-bottom-left-radius: .8em;
}
.teacher-side-card-info h3{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.5em;
}

.teacher-side-card-info h4{
    color: #686868;
    font-size: 1em;
}
/* MEDIA QUERIES */
@media (min-width: 1920px) {
    .instructor-banner{
        height: 28em;
    }
    .teacher-banner {
       
        min-height:40vh;
     
       
     }
     .teacher-banner .container:nth-of-type(1){
         min-height: 40vh;
         width: 100%;
       
     }
}
@media (min-width: 1650px) {
    .instructor-banner{
        height: 24em;
    }
    .teacher-banner {
       
        min-height: 55vh;
     
       
     }
     .teacher-banner .container:nth-of-type(1){
         min-height: 55vh;
         width: 100%;
       
     }
}

@media (max-width:1024px){
    .teacher-banner .container{
        flex-direction: column;
        gap: 2em;
        align-items: center;
        overflow-x: hidden;
        height:auto;
    }
    .teacher-banner-content{
        width:100% ;

    }
    .instructor-banner{
        margin-top: 2em;
        width: 100%;
        position: static;
        left: 0;
    }
    .teachers-card-header{
        width: 100%;
     
    }
    .teacher-details-card{
        width: 100%;
    }
     .teacher-cards-contianer{
       
        flex-direction: column-reverse;
        height: auto;
        gap: 0;
     }
     .side-card-contianer{
        width: 100%;
        display: flex;
        flex-direction: row;
        
        gap: 1em;
      
     }
     
     .teacher-side-card{
        width:calc(100 /3) - 2em;
        height: fit-content;
        
     }


}
@media (max-width: 768px){

}
@media (max-width: 425px){
    .teacher-banner {
        height: fit-content;
    }
    .teacher-cards-contianer{ 

        flex-direction: column;
    }
       
       
    .teacher-details-card{
        flex-direction: column;
    }
    .teacher-details-card-info{
        width: 100%;
        
    }
   .teachers-card{
        overflow-x: hidden;
    }
    .details-card-teacher-image{
        width: 100%;
    }
    .instructor-banner{
        flex-wrap: wrap;
    }
    .instructor-banner .card{
        width:90%;
        margin:auto;
    }
    .side-card-contianer{
        width: 100%;
        display: flex;
        flex-direction: column;
        
        gap: 1em;
      
     }
     
     .teacher-side-card{
        width:100%;
        height: fit-content;
        
     }
}